Source: jmatio
Section: java
Priority: optional
Maintainer: Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0), ant, openjdk-6-jdk | java5-sdk
Standards-Version: 3.9.2
Homepage: http://sourceforge.net/projects/jmatio/
Vcs-Git: git://git.braintech.pl/jmatio.git
Vcs-Browser: http://git.braintech.pl/jmatio.git

Package: libjmatio-java
Architecture: all
Depends: ${misc:Depends}
Description: Java library to read and write Matlab files
 Matlab's MAT-file I/O API in JAVA. Supports Matlab 5 MAT-file format
 reading and writing. Written in pure JAVA.
 .
 Currently supported data types are Structure and arrays of Double,
 UInt8, Int8, UInt64, Int64, Char, Cell, and Sparse arrays.
